In [1]:
print('Hello, World')

Hello, World

In [2]:
username = input('Enter you name:')
print('Hello, '+username)

Hello, lyes

In [4]:
age = int(input('Enter you age:'))
print('You are, ',age)

You are,  54

In [5]:
x= 5
y= 'Lyes'
z=  True
print(x,y,z)
print(type(x),type(y),type(z))

5 Lyes True
<class 'int'> <class 'str'> <class 'bool'>

In [6]:
age = 23
print("type of age is ",type(age))

type of age is  <class 'int'>

In [7]:
sal = 2.12
print("type of sal is ",type(sal))

type of sal is  <class 'float'>

In [9]:
name = 'Lyes'
print("type of name is ",type(name))

type of name is  <class 'str'>

In [10]:
x = str(3)
x

'3'

In [11]:
y = int('3')
y

3

In [12]:
z = float(4)
z

4.0

In [13]:
x = "John"
x = 'John'
x

'John'

In [14]:
x,y,z = 1,2,4

x,y,z

(1, 2, 4)

In [15]:
age = 23
name = 'Lyes'
print('hhhe ',name)
print(f"hhh {name}")

hhhe  Lyes
hhh Lyes

In [16]:
ls = [1,4,5,6,7,8,9,0,19]
type(ls)

list

In [17]:
ls = [1,4,5,6,7,8,9,0,19]
ls

[1, 4, 5, 6, 7, 8, 9, 0, 19]

In [18]:
ls.append(6433)
ls

[1, 4, 5, 6, 7, 8, 9, 0, 19, 6433]

In [19]:
ls.remove(0)
ls

[1, 4, 5, 6, 7, 8, 9, 19, 6433]

In [20]:
last = ls.pop()
last, ls

(6433, [1, 4, 5, 6, 7, 8, 9, 19])

In [21]:
len(ls)

8

In [23]:
ls[1]

4

In [24]:
ls[-1]

19

In [25]:
ls[1]=232
ls

[1, 232, 5, 6, 7, 8, 9, 19]

In [27]:
ls.sort()
ls

[1, 5, 6, 7, 8, 9, 19, 232]

In [48]:
ls.sort(reverse=True)
ls

[232, 19, 9, 8, 7, 6, 5, 1]

In [28]:
wl =['apple','banana','cherry','orange','kiwi','melon','mango']
wl

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [30]:
wslice = wl[2:5]
wslice

['cherry', 'orange', 'kiwi']

In [31]:
wl[:4]

['apple', 'banana', 'cherry', 'orange']

In [32]:
wl[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [34]:
other =['apple',23,'lyes',4.5,True,'Py']
other, len(other)

(['apple', 23, 'lyes', 4.5, True, 'Py'], 6)

In [37]:
other.pop()
other

['apple', 23, 'lyes']

In [38]:
x,y,z = other
x,y,z

('apple', 23, 'lyes')

In [42]:
car = {'brand':'ford','model':'mustang','year':2012}
car
car['year']

2012

In [43]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [44]:
car.values()

dict_values(['ford', 'mustang', 2012])

In [46]:
items = car.items()
items

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 2012)])

In [47]:
car['color'] = 'black'
car['year'] = 2023
car

{'brand': 'ford', 'model': 'mustang', 'year': 2023, 'color': 'black'}

In [49]:
mset = {'Lyes','grine','male'}
mset

{'Lyes', 'grine', 'male'}

In [50]:
mtuple = ('lyes','grine','male')
mtuple

('lyes', 'grine', 'male')

In [51]:
a=33
b = 200
if b>a:
    print('b is greater then a')

b is greater then a

In [52]:
if b>a:
print('b is greater then a')

IndentationError: expected an indented block after 'if' statement on line 1 (4249492404.py, line 2)

In [53]:
if b>a:
    print('b is greater then a')
elif a==b:
    print('they are equals')
else:
    print('a is greater')

b is greater then a

In [54]:
a = 200
b = 34
c= 400
if a>b and c>a:
    print('c is the biggest')

c is the biggest

In [55]:
a= 5
if a in ls:
    print('a is in the list')

a is in the list

In [56]:
a= 0
if a in ls:
    print('a is in the list')

In [58]:
for x in range(0,10,1):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [59]:
for x in range(0,10,1):
    print(x,end='   ')

0   1   2   3   4   5   6   7   8   9

In [60]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [61]:
wl =['apple','banana','cherry','orange','kiwi','melon','mango']
for word in wl:
    print(word)

apple
banana
cherry
orange
kiwi
melon
mango

In [62]:
for x,y in car.items():
    print(x,y)

brand ford
model mustang
year 2023
color black

In [63]:
for x in car.values():
    print(x)

ford
mustang
2023
black

In [64]:
i =0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [65]:
def f():
    print('this is a function')
f()

this is a function

In [67]:
def f2(name):
    print('you are ',name)
f2('lyes')

you are  lyes

In [68]:
f2('email')
f2('text')

you are  email
you are  text

In [69]:
def mult(a,b):
    return a*b

prod = mult(3,4)
prod

12